<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Спасибо за регистрацию</title>
</head>
<body>
    <h1>Спасибо за регистрацию {{ user.username }}!</h1>
    <h3>Пожалуйста введите этот код <b style="font-size: 2em">{{ code }}</b> в форму на сайте <a href="{{ request.scheme }}://{{ request.get_host }}{% url 'board_code_confirmation' user.pk %}">{{ domain }}</a> для активации вашей учетной записи</h3>
</body>
</html>