{% extends 'default.html' %}

{% load board_filters %}

{% block title %}
  {{ bulletin.title }}
{% endblock %}

{% block content %}
  <h1>
    {{ bulletin.title }}
  </h1>
  <div>
    {{ bulletin.created|date:"d.m.Y H:i:s" }}
  </div>
  <div>
    Категория: {{ bulletin.category }}
  </div>
  <div class="author">
    Автор: {{ bulletin.author }}
  </div>
  <div>
    {% autoescape off %}
    {{ bulletin.body }}
    {% endautoescape %}
  </div>
  <div>
    <form action="" method="post">
      {% csrf_token %}
      {{ form.media }}
      {{ form.as_p }}
      <input type="submit" value="Сохранить">
    </form>
  </div>
{% endblock %}

